InputSystem_Actions.inputactions
InputSystem_Actions.inputactions.meta
Scenes.meta
Scenes/SampleScene.unity
Scenes/SampleScene.unity.meta
Settings.meta
Settings/DefaultVolumeProfile.asset
Settings/DefaultVolumeProfile.asset.meta
Settings/Mobile_Renderer.asset
Settings/Mobile_Renderer.asset.meta
Settings/Mobile_RPAsset.asset
Settings/Mobile_RPAsset.asset.meta
Settings/PC_Renderer.asset
Settings/PC_Renderer.asset.meta
Settings/PC_RPAsset.asset
Settings/PC_RPAsset.asset.meta
Settings/SampleSceneProfile.asset
Settings/SampleSceneProfile.asset.meta
Settings/UniversalRenderPipelineGlobalSettings.asset
Settings/UniversalRenderPipelineGlobalSettings.asset.meta
