InputSystem_Actions.inputactions
InputSystem_Actions.inputactions.meta
Scenes.meta
Scenes/
Settings.meta
Settings/
TestDialog/
TestDialog.meta
AddressableAssetsData.meta
AddressableAssetsData/
Localization.meta
Localization/
Packages/
Packages.meta